<p id="notice"><%= notice %></p>

<p>
  <strong>Category</strong>
  <%= @inp %>
  <%= @cat %>
  
</p>

<%= @ct %><br>

<%= @inu %> <br><br><br><br> 



<%= link_to "correct", controller: "trainer", action: "inp_train" %>
<br><br><br><br>


<strong>If incorrect, Select correct Category</strong>

<%= form_tag(t_initial_path, :method => "get", :action => "inp_train") do  %>
   <%= hidden_field_tag(:cinput, @inp) %>
    <%= text_field_tag :correct %>
    <%= submit_tag "Send input" %>
<% end %>




